@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
@import "reset.css";
@import "variable.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/dot.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/chats.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

body {
  font-family: "Open Sans", sans-serif;
  color: #333333;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}

.status-bar {
  z-index: 2;
}

.screen-header {
  z-index: 1;
}

.alt-header {
  z-index: 1;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--yellow);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 128px;
  animation: hideSplashScreen 0.25s ease-in-out forwards;
  animation-delay: 1.75s;
}
