.alt-header {
  padding: 10px var(--horizontal-space);
  display: flex;
  align-items: center;
  justify-content: center;

  position: sticky;
  top: 28px;
  width: 100%;
  box-sizing: border-box;
}

.alt-header__title {
  font-size: 22px;
  font-weight: 700;
}

.alt-header i {
  opacity: 0.9;
}

.alt-header__column {
  width: 33%;
}

.alt-header__column:first-child {
  margin-right: auto;
}

.alt-header__column:nth-child(2) {
  text-align: center;
}

.alt-header__column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.alt-header__column:last-child i:last-child {
  margin-left: 20px;
}
