.badge {
  background-color: tomato;
  height: 15px;
  width: 15px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-weight: 400;
  font-size: 5px;
}

.badge--chats {
  position: relative;
  top: 5px;
  height: 18px;
  width: 18px;
}

@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: none;
  }
}

.badge--nav {
  position: absolute;
  left: 12.5px;
  bottom: 12.5px;
  animation: notificationAnimation 2s ease-in-out infinite;
}
