.icon-row {
  display: flex;
  justify-content: space-between;
  height: 25px;
  margin-bottom: 7px;
}

.icon-row__icon {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-row__icon i {
  font-size: 25px;
}

.icon-row__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 28px;
}

.icon-row__text span {
  font-size: 14px;
  vertical-align: middle;
  text-align: center;
  width: 25%;
}

.icon-row-container {
  margin: 20px 0;
}

.icon-row-container:nth-child(3) {
  padding: 20px 0 30px 0;
  margin-bottom: 0;
  border-bottom: var(--main-border);
}
